{{extend 'layout.html'}}

<div class="main">
    <br>
<h1> &nbsp; ZMail </h1>
    <hr>

{{for email in email_list:}}
    <div class = "mylist">
        <span class="id">
        <span class="date"> {{=email['date']}}</span> &nbsp;
        {{if email['starred']:}} {{=icon_starred}} {{else:}} {{=icon_not_starred}} {{pass}} &nbsp;
        {{=A(email['from'], _href=URL('default', 'read_email', args=[email['id']]) )}}</span> &nbsp; &nbsp;
        <span class="mysub">{{=email['subject']}}</span> &nbsp; &nbsp;
        {{=email['text']}}
    </div>
{{pass}}
</div>