.colorful {
  color: $clrHilight;

}

.mydiv {
  color: #ab64ff;
  line-height: 130%;
  #repeat {
    font-weight: bold;
  }
}

table {
  table-layout: fixed;
}

div.mylist {
  background-color: $clrListBg;
  padding: 150px;
  margin: 10px;
  @include border-radius(20px);
  border: 3px solid $clrBorder;
  @include background-image(linear-gradient(lighten($clrHilight, 10%),$clrListBg));
}

.starred {
  color: $clrStar;
}

.unstar{
  color: $clrUnstar;
}


