.colorful {
  color: $clrHilight;
}

/*Styles the title*/
.heading {
  margin: auto;
  text-align: center;
  background-color: #7219A2;
  color: white;
  width: 80%;
  padding-top: 1px;
  padding-bottom: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/*Styles the entire list container that holds the individual emails.*/
.emaillist {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

/*Styles each email in the list*/
.email {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: auto;
  background-color: #EDEDED;
  padding: 10px;
  width: 100%;
}

/*Styles every other email in the list*/
.email:nth-child(even) {
  background-color: #fff;
}

/*Styles the star container*/
.star {
  font-size: 20pt;
  margin: auto;
  padding-left: 20px;
  padding-right: 0px;
  margin-right: -10px;
  margin-left: 5px;
  color: #7219A2;
}

i.fa-star {
  color: gold;
}

i.fa-star-o {
  color: grey;
}

/*Styles the container that holds the subject, from, and text*/
.content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: auto;
  padding-right: -10px;
  width: 75%;
}

/*Same thing but for when the email has already been read*/
.content-read {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: auto;
  padding-right: -10px;
  width: 75%;
  color: grey;
}

.content-read a:link {
  color: grey;
  text-decoration: none;
}

/*Styles the container that holds subject and from only*/
.subjectandfrom {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/*Styles the subject*/
.subject {
  margin-top: -15px;
  margin-bottom: auto;
}

h2 {
  font-size: 14pt;
}


/*Styles the from*/
.from {
  padding-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 9pt;
}

/*Styles the preview text*/
.text {
  font-size: 10pt;
}

/*Styles the container that holds the month and day*/
.date {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: auto;
  color: #7219A2;
}

/*Styles the abbreviated month*/
.month {
  margin: auto;
  font-size: 16pt;
}

/*Styles the day number*/
.day {
  margin: auto;
  font-size: 18pt;
}

/*Styles all the links*/
a:link {
    color: #7219A2;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #7219A2;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #000;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #000;
    text-decoration: none;
}

.bottom {
  margin: auto;
  width: 80%;
  text-align: center;
  background-color: #7219A2;
  color: white;
  padding-top: 1px;
  padding-bottom: 7px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.footerspace {
  height: 20px;
}

.singleemail {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: auto;
  width: 50%;
  border-radius: 15px;
  background-color: white;
  border-color: #7219A2;
  border-width: 4px;
  border-style: solid;
  font-size: 17px;
  margin-top: 50px;
}

.singlefromreadstar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #7219A2;
  padding: 15px;
}

.singlefrom {
  margin-top: 6px;
  font-size: 18px;
  width: 75%;
}

.singleread {
  font-size: 30pt;
  padding-left: 20px;
  padding-right: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -10px;
  margin-bottom: -100px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #7219A2;
}

.singledate {
  margin-top: 0px;
  padding: 15px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #7219A2;
}

.singlesubject {
  margin-top: 0px;
  padding: 15px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #7219A2;
}

.singletext {
 font-size: 16px;
 white-space: pre-line;
 padding: 15px;
 margin-top: -10px;
}

.singlestar {
  font-size: 30pt;
  padding-left: 10px;
  padding-right: 0px;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: -10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  color: #7219A2;
}