.colorful {
  color: $clrHilight;
}

div.theemails {
  color: black;
  line-height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.emailheader {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}