{{extend 'layout.html'}}


<div class="mydiv"><h1>Welcome to your inbox!</h1></div>




{{for e in email_list:}}
<table border="4" style="width:100%">

  <tr>
      <td>{{=e['from']}}</td>
      <td>{{=e['date']}}</td>
      <td>{{=A(e['subject'], _href=URL('default', 'read_email', args=[e['id']]))}}</td>


    {{if e['starred'] == True: }}
       <td class="starred"> {{=icon_star}}</td>
      {{else:}}
      <td class="unstar"> {{=icon_star}} </td>
      {{pass}}
      {{if e['read'] == False: }}
       <td> {{=icon_unread}}</td>
      {{else:}}
      <td> </td>
       {{pass}}
  </tr>

</table>
        {{pass}}

