{{extend 'newlayout.html'}}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col s12 m12">

        <div class="card-panel blue-grey lighten-5">
            <span>
                {{if email['starred'] == True:}}
                    <span class="goldstar">{{=icon_star}}</span>
                {{else:}}
                    <span class="greystar">{{=icon_star}}</span>
                {{pass}}
            </span>
            <span class="black-text">From: <div class="chip blue-grey lighten-4">{{=email['from']}}</div> </span>
            <span class="black-text">Subject: <div class="chip blue-grey lighten-4">{{=email['subject']}}</div> </span>
             <span class="right">
                {{if email['read'] == True:}}
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M22,8V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V8C2,7.25 2.42,6.59 3.03,6.25L12,1.07L20.97,6.25C21.58,6.59 22,7.25 22,8M4,8L12,13L20,8L12,3L4,8Z" />
                    </svg>
                {{else:}}
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
                    </svg>
                {{pass}}
            </span>
             {{
                import datetime
                parse_date = datetime.datetime.strptime(email['date'], "%Y-%m-%dT%H:%M:%S.%f")
                strp_date = str(parse_date)
                new_date = strp_date[:10]

            }}
            <span class="black-text right">Date: <div class="chip blue-grey lighten-4">{{=new_date}}</div> </span>
          <p class="black-text">{{=email['text']}}</p>
        </div>
      </div>
</div>