h1, h2 {
  color: $clrText;
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
}

div.main {
  line-height: 100%;
  box-sizing: border-box;
  width: inherit;
  white-space: nowrap;
}

div.readmail {
   background-image: url('../images/AmWThvw.jpg');
   padding-bottom: 300px;

  .emailtext {
    background-color: rgba(152, 150, 156, 0.7);
    padding: 10px;
  }

  .boldtext {
    font-weight: bold;
  }
}

div.mylist {
  background-color: rgba(152, 150, 156, 0.6);
  padding: 8px;
  margin: 8px;
  color: $clrText;
  position: relative;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;



  .mysub {
    font-weight: bold;
    overflow: hidden;
  }
}
a {
  color: #ff0000;
}

.mylist a:hover {
  color: #ffaaaa;
}

